version: '3'

# 
#  * Elasticsearch
#  * author: @hootanht
#  * Under GPL-3.0 license.
#  * email: hootanhemmati@outlook.com
#  * read more at repo: https://github.com/hootanht/preconfigured-docker-compose


services:
  elasticsearch:
    image: 'docker.elastic.co/elasticsearch/elasticsearch:${ELASTICSEARCH_TAG_VERSIO:-latest}'
    container_name: elasticsearch    
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=${ES_JAVA_OPTS:--Xms512m -Xmx512m}
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    restart: unless-stopped
    networks:
      - elastic

  kibana:
    image: 'docker.elastic.co/kibana/kibana:${KIBANA_TAG_VERSION:-latest}'
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=${ELASTICSEARCH_HOSTS:-http://elasticsearch:9200}
    ports:
      - "5601:5601"
    restart: unless-stopped
    depends_on:
      - elasticsearch
    networks:
      - elastic

volumes:
  elasticsearch_data:
    driver: local

networks:
  elastic:
    driver: bridge
